@use "variables";
@use "mixins";
@use "global";

.contact-hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50vh;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: red;
  text-align: center;
  padding: 112px;
  @media only screen and (max-width: 1440px) {
    padding: 80px;
  }
  @media only screen and (max-width: 1024px) {
    padding: 48px;
  }
  @media only screen and (max-width: 800px) {
    padding: 32px;
  }
  @media only screen and (max-width: 560px) {
    padding: 16px;
  }
}

.contact-hero .h1-cap {
  font-weight: 700;
  color: #f3ddaa;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.contact-main {
  margin: 112px;
  margin-top: -56px;
  display: flex;
  gap: 24px;
  @media only screen and (min-width: 1600px) {
    width: 80%;
    gap: 32px;
    align-self: center;
    justify-self: center;
  }
  @media only screen and (max-width: 1440px) {
    margin: 80px;
    margin-top: -48px;
  }
  @media only screen and (max-width: 1024px) {
    margin: 48px;
    margin-top: -48px;
  }
  @media only screen and (max-width: 800px) {
    margin: 32px;
    flex-direction: column-reverse;
    width: 80%;
    margin-top: -40px;
    align-self: center;
    justify-self: center;
  }
  @media only screen and (max-width: 560px) {
    width: calc(100% - 32px);
    margin: 16px;
    margin-top: -40px;
  }
}

.contact-main .form {
  // border: 1px solid blue;
  width: 50%;
  @media only screen and (max-width: 800px) {
    width: 100%;
  }
}

.contact-main .details-container {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #2b878c;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.25);
  padding: 24px;
  border-radius: 8px;
  width: 50%;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  @media only screen and (max-width: 800px) {
    width: 100%;
  }
}
.contact-main .details-container .sect {
  display: flex;
  flex-direction: column;
  gap: 8px;
  //border: 1px solid yellow;
}
.contact-main .details-container .links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.contact-main .details-container h4 {
  color: #e6bb55;
  font-size: 20px;
  line-height: 28px;
}

.contact-main .details-container a {
  color: inherit;
  text-decoration: none;
  display: flex;
  gap: 8px;
  font-weight: 500;
}
.contact-main .details-container a .icon {
  height: 24px;
  width: 24px;
}
