@use "variables";
@use "mixins";
@use "global";

.dev-previews-container {
  display: flex;
  gap: 32px;
  // border: 1px solid red;
  width: calc(100vw - 224px);

  .devotional-preview-container {
    width: calc((100% - 64px) / 3);
    display: flex;
    flex-direction: column;
    padding: 24px;
    color: #000;
    gap: 8px;
    // border: 1px solid yellow;
    &:nth-child(1) {
      background-color: #f3ddaa80;
    }
    &:nth-child(2) {
      background-color: #f3ddaa99;
    }
    &:nth-child(3) {
      background-color: #f3ddaab2;
    }

    a {
      align-self: center !important;
    }
    p {
      font-size: 16px;
      line-height: 24px;
    }

    @media only screen and (max-width: 1024px) {
      width: calc((100% - 24px) / 2);
      &:nth-child(3) {
        display: none;
      }
    }
    @media only screen and (max-width: 560px) {
      width: 100%;
      &:nth-child(3) {
        display: flex;
      }
    }
  }
  @media only screen and (max-width: 1440px) {
    width: calc(100vw - 160px);
  }

  @media only screen and (max-width: 1024px) {
    width: calc(100vw - 96px);
    gap: 24px;
  }
  @media only screen and (max-width: 800px) {
    width: calc(100vw - 64px);
  }
  @media only screen and (max-width: 560px) {
    flex-direction: column;
    width: calc(100vw - 32px);
    gap: 20;
  }
}

.individual-devotional-container {
  .hero {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: flex-end;
    padding: 112px 112px 16px 112px;
    @media only screen and (max-width: 1440px) {
      padding: 80px 80px 16px 80px;
    }
    @media only screen and (max-width: 1024px) {
      padding: 48px 48px 16px 48px;
    }
    @media only screen and (max-width: 800px) {
      padding: 32px 32px 16px 32px;
    }
    @media only screen and (max-width: 560px) {
      padding: 16px 16px 16px 16px;
    }
    aspect-ratio: 224/100;
    img {
      position: absolute;
      z-index: -5;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    h1,
    span {
      color: #fff;
    }
  }
  .intro {
    background-color: #0c2627;
    color: #fff;
    padding: 40px 112px;
    @media only screen and (max-width: 1440px) {
      padding: 40px 80px;
    }
    @media only screen and (max-width: 1024px) {
      padding: 32px 48px;
    }
    @media only screen and (max-width: 800px) {
      padding: 32px 32px;
    }
    @media only screen and (max-width: 560px) {
      padding: 16px 16px;
    }
    margin-top: -2px;
  }
  .text {
    padding: 40px 112px;
    @media only screen and (max-width: 1440px) {
      padding: 40px 80px;
    }
    @media only screen and (max-width: 1024px) {
      padding: 32px 48px;
    }
    @media only screen and (max-width: 800px) {
      padding: 32px 32px;
    }
    @media only screen and (max-width: 560px) {
      padding: 16px 16px;
    }
  }
  .scriptures {
    padding: 40px 112px;
    background-color: #0c2627;
    color: #fff;
    @media only screen and (max-width: 1440px) {
      padding: 40px 80px;
    }
    @media only screen and (max-width: 1024px) {
      padding: 32px 48px;
    }
    @media only screen and (max-width: 800px) {
      padding: 32px 32px;
    }
    @media only screen and (max-width: 560px) {
      padding: 16px 16px;
    }
  }
}
