@use "variables";
@use "mixins";
@use "global";

.dev-previews-container {
  display: flex;
  gap: 32px;
  // border: 1px solid red;
  width: calc(100vw - 224px);

  .devotional-preview-container {
    width: calc((100% - 64px) / 3);
    display: flex;
    flex-direction: column;
    padding: 24px;
    color: #000;
    gap: 8px;
    // border: 1px solid yellow;
    &:nth-child(1) {
      background-color: #f3ddaa80;
    }
    &:nth-child(2) {
      background-color: #f3ddaa99;
    }
    &:nth-child(3) {
      background-color: #f3ddaab2;
    }

    a {
      align-self: center !important;
    }
    p {
      font-size: 16px;
      line-height: 24px;
    }

    @media only screen and (max-width: 1024px) {
      width: calc((100% - 24px) / 2);
      &:nth-child(3) {
        display: none;
      }
    }
    @media only screen and (max-width: 560px) {
      width: 100%;
      &:nth-child(3) {
        display: flex;
      }
    }
  }
  @media only screen and (max-width: 1440px) {
    width: calc(100vw - 160px);
  }

  @media only screen and (max-width: 1024px) {
    width: calc(100vw - 96px);
    gap: 24px;
  }
  @media only screen and (max-width: 800px) {
    width: calc(100vw - 64px);
  }
  @media only screen and (max-width: 560px) {
    flex-direction: column;
    width: calc(100vw - 32px);
    gap: 20;
  }
}
