@use "variables";
@use "mixins";
@use "global";

.exegesis-page-container {
  .hero {
    position: relative;
    aspect-ratio: 16/8;

    //border: 1px solid red;
    @media only screen and (max-width: 1024px) {
      aspect-ratio: 4/3;
    }

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      z-index: -1;

      @media only screen and (max-width: 800px) {
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .latest-entry-intro {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: -176px 112px 112px 112px;
    padding: 112px;
    background-color: #38afb61a;
    z-index: 5;

    @media only screen and (max-width: 1440px) {
      padding: 80px;
      margin: -160px 80px 80px 80px;
    }

    @media only screen and (max-width: 1024px) {
      padding: 48px;
      margin: -120px 48px 48px 48px;
    }
    @media only screen and (max-width: 800px) {
      padding: 32px;
      margin: -104px 32px 32px 32px;
    }
    @media only screen and (max-width: 606px) {
      margin: -152px 48px 48px 48px;
    }
    @media only screen and (max-width: 560px) {
      padding: 16px;
      margin: -88px 16px 16px 16px;
    }

    @media only screen and (max-width: 447px) {
      padding: 16px;
      margin: -112px 16px 16px 16px;
    }

    .datentitle {
      display: flex;
      flex-direction: column;
      gap: 0px;
      color: #fff;
    }
  }
  .sect2 {
    padding: 0px 112px 56px 112px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media only screen and (max-width: 1440px) {
      padding: 0px 80px 40px 80px;
    }

    @media only screen and (max-width: 1024px) {
      padding: 0px 48px 48px 48px;
    }

    @media only screen and (max-width: 800px) {
      padding: 0px 32px 32px 32px;
    }

    @media only screen and (max-width: 560px) {
      padding: 0px 16px 16px 16px;
    }
  }

  .sect3 {
    background-color: #0c2627;
    padding: 112px;

    @media only screen and (max-width: 1440px) {
      padding: 80px;
    }

    @media only screen and (max-width: 1024px) {
      padding: 48px;
    }

    @media only screen and (max-width: 800px) {
      padding: 32px;
    }

    @media only screen and (max-width: 560px) {
      padding: 32px 16px;
    }

    .form {
      width: 50%;
      color: #fff;
      display: flex;
      flex-direction: column;
      gap: 24px;

      @media only screen and (max-width: 1024px) {
        width: 70%;
      }

      @media only screen and (max-width: 560px) {
        width: 100%;
      }
    }

    label,
    h2,
    p {
      color: #fff;
    }
  }
}
