@use "variables";
@use "mixins";
@use "global";

.exegesis-page-container {
  .hero {
    position: relative;
    aspect-ratio: 224/100;

    //border: 1px solid red;
    @media only screen and (max-width: 800px) {
      aspect-ratio: 390/585;
    }

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;

      @media only screen and (max-width: 800px) {
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .latest-entry-intro {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: -200px 112px 112px 112px;
    padding: 112px;
    background-color: #38afb61a;
    z-index: 5;

    @media only screen and (max-width: 1440px) {
      padding: 80px;
      margin: -184px 80px 80px 80px;
    }

    @media only screen and (max-width: 1024px) {
      padding: 48px;
      margin: -144px 48px 48px 48px;
    }

    @media only screen and (max-width: 867px) {
      margin: -192px 48px 48px 48px;
    }

    @media only screen and (max-width: 800px) {
      padding: 32px;
      margin: -192px 32px 32px 32px;
    }

    @media only screen and (max-width: 560px) {
      padding: 16px;
      margin: -144px 16px 16px 16px;
    }

    @media only screen and (max-width: 389px) {
      padding: 16px;
      margin: -176px 16px 16px 16px;
    }

    .datentitle {
      display: flex;
      flex-direction: column;
      gap: 0px;
      color: #fff;
    }
  }

  .sect3 {
    background-color: #184b4e;
    padding: 112px;

    @media only screen and (max-width: 1440px) {
      padding: 80px;
    }

    @media only screen and (max-width: 1024px) {
      padding: 48px;
    }

    @media only screen and (max-width: 800px) {
      padding: 32px;
    }

    @media only screen and (max-width: 560px) {
      padding: 32px 16px;
    }

    .form {
      width: 50%;

      @media only screen and (max-width: 1024px) {
        width: 70%;
      }

      @media only screen and (max-width: 560px) {
        width: 100%;
      }
    }

    label,
    h2,
    p {
      color: #fff;
    }
  }
}