@use "variables";
@use "mixins";
@use "global";

.home-page-container .home-hero {
  display: flex;
  position: relative;
  justify-content: flex-end;
  padding: 112px;
  aspect-ratio: 1024/600;
  //border: 1px solid yellow;
  .text {
    margin-top: 48px;
    justify-self: flex-end;
    // border: 1px solid red;
    h1 {
      color: #fff;
    }
    .h1-cap {
      color: #f3ddaa;
      font-size: 20px;
      line-height: 28px;
      font-weight: 700;
    }
  }

  .desktop-hero {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: top;
    z-index: -5;
    @media only screen and (max-width: 1024px) {
      display: none;
    }
  }

  .ipad-hero {
    display: none;
  }
  @media only screen and (max-width: 1440px) {
    padding: 80px;
  }
  @media only screen and (max-width: 1024px) {
    background-color: unset;
    padding: 48px;
    background-image: none;
    height: max-content;
    margin-bottom: -2px;
    background-size: cover;
    aspect-ratio: 744/649;
    .text {
      text-align: end;
      width: 60%;

      @media only screen and (max-width: 650px) {
        margin-top: 80px;
        width: 50%;
      }
    }
    .ipad-hero {
      display: unset;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      //border: 1px solid red;
      height: auto;
      z-index: -5;
    }
  }
  @media only screen and (max-width: 800px) {
    background-color: unset;
    padding: 32px;
  }
  @media only screen and (max-width: 560px) {
    background-color: unset;
    padding: 16px;
  }
  @media only screen and (min-width: 1700px) {
    padding: 224px;
  }
}

.home-page-container .sect2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d6ded4;
  padding: 112px;
  gap: 32px;
  .mobileh2 {
    display: none;
  }
  .text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;
    max-width: 456px;
  }
  img {
    width: 50%;
    max-width: 456px;
    aspect-ratio: 1;
    // border: 1px solid red;
  }
  @media only screen and (max-width: 1440px) {
    padding: 80px;
    gap: 24px;
  }
  @media only screen and (max-width: 1024px) {
    padding: 48px;
  }
  @media only screen and (max-width: 800px) {
    padding: 32px;
    flex-direction: column;

    .mobileh2 {
      display: unset;
    }
    .text h2 {
      display: none;
    }

    img {
      width: 100%;
      order: 1;
    }
    .text {
      width: unset;
      order: 2;
      text-align: center;
      align-items: center;
    }
  }
  @media only screen and (max-width: 560px) {
    padding: 32px 16px;
  }
}
.home-page-container .sect3 {
  background-color: #0c2627;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 112px;
  align-items: flex-start;
  gap: 24px;

  a {
    align-self: flex-end;
  }
  @media only screen and (max-width: 1440px) {
    padding: 80px;
  }
  @media only screen and (max-width: 1024px) {
    padding: 48px;
  }
  @media only screen and (max-width: 800px) {
    padding: 32px;
  }
  @media only screen and (max-width: 560px) {
    padding: 32px 16px;
  }
}
.home-page-container .homemailing {
  display: flex;
  position: relative;
  justify-content: flex-end;
  padding: 56px 112px;
  .form {
    width: 50%;
    //border: 1px solid green;
  }
  img {
    //border: 1px solid red;
    position: absolute;
    height: 130%;
    bottom: 0;
    left: 15%;
  }
  @media only screen and (max-width: 1440px) {
    padding: 40px 80px;
  }
  @media only screen and (max-width: 1024px) {
    padding: 24px 48px;
    img {
      left: 10%;
    }
  }
  @media only screen and (max-width: 800px) {
    padding: 40px 80px;
    .form {
      width: 100%;
    }
    img {
      display: none;
    }
  }
  @media only screen and (max-width: 560px) {
    padding: 32px 16px;
  }
}
