//primary colours
$primary1: #77c79d;
$primary2: #61b187;
$primary3: #47916a;
$primary4: #2b878c;
$primary5: #296746;
$primary6: #1b5235;
$primary7: #113c25;

//secondary colours
$secondary1: #b5dafe;
$secondary2: #6bb6fc;
$secondary3: #2191fb;
$secondary4: #0361ba;
$secondary5: #02315d;

//teriary colours
$tertiary1: #decfd7;
$tertiary2: #be9faf;
$tertiary3: #704c5e;

//tints
$tint1: #fcfcfb;
$tint2: #f7f6f2;
$tint3: #f4f3ee;

//shades
$shade1: #262626;
$shade2: #474747;
$shade3: #686868;
$shade4: #898989;
$shade5: #aaaaaa;

//fonts
