.App {
  background-color: #113c25;
  margin: 0;
  display: flex;
  padding: 56px 112px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  color: #fcfcfb;
}
.page-content-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}
h1 {
  font-family: "Odor Mean Chey";
  font-size: 32px;
  line-height: 40px;
}
h2 {
  font-family: "Odor Mean Chey";
  font-size: 20px;
  line-height: 28px;
}
